* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #071c26;
	text-align: center;
	margin-bottom: 5%;
}

.juego {
	margin-top: 1%;
}

.derecha {
	float: right;
}

.fondo-principal {
	background-color: #ffedb2;
}

.fondo-claro {
	background-color: #fffcf2;
}

.fondo-botones {
	background-color: #d8bf6c;
	color: #fffcf2;
}

.fondo-btn-rojo {
	background-color: #fffcf2;
}

.redes-sociales {
	font-size: 16px;
	margin-top: 1%;
}

.alerta-roja {
	background-color: #ffb2b2;
	color: #b25050;
}

.alerta-verde {
	background-color: #b2ffcc;
	color: #50b271;
}

.licencia {
	font-size: 12px;
}

.redes {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.img-caemci {
	margin-bottom: 0.5%;
	height: 14px;
}

.icono-red-social {
	color: #071c26;
}
